BASE_URL=https://automationexercise.com

LOGIN_USERNAME=LukeSkywalker
LOGIN_EMAIL=lukeskywalker.aqa@example.com
LOGIN_PASSWORD=change-me-login-password

INVALID_LOGIN_EMAIL=invalid-login@example.com
INVALID_LOGIN_PASSWORD=change-me-invalid-password

REGISTRATION_PASSWORD=change-me-registration-password

API_USER_PASSWORD=change-me-api-password
INVALID_API_LOGIN_EMAIL=invalid-api-user@example.com
INVALID_API_LOGIN_PASSWORD=change-me-invalid-api-password

PAYMENT_CARD_NUMBER=4111111111111111
PAYMENT_CVC=123
PAYMENT_EXPIRY_MONTH=12
PAYMENT_EXPIRY_YEAR=2030
