
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
/.pw-tmp/


# Environment files
.env
.env.*
!.env.example
.vscode/
.idea/
*.log
.DS_Store
Thumbs.db
